/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lilita One', cursive;
}

body {
	background-color: #0c1022;
	color: white;
  max-width: 100%;
  overflow-x: hidden;
}

.mypic img {
  width: 470px;
  height: 470px;
  border-radius: 50%;

}


.details .socmed {
  width: 60px;
  height: 60px;
/*  background: linear-gradient(45deg, #f06, #3cf);*/
/*  border-radius: 50%;*/
  font-size: 40px;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  padding-left: 300px;
}

.trainee a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 180px;
  height: 48px;
  background: linear-gradient(45deg, #f06, #3cf);
  color: white;
  font-size: 30px;
  border-radius: 40px;
  letter-spacing: 1px;
}



/*.box {
  position: fixed;
  top: 30%;
  left: 40%;
  color: #333;
  font-weight: bolder;
  width: 20%;
  padding: 1rem;
  border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);

    backdrop-filter: blur(4px);
}*/